/* admin login page */
.custom-container{
    max-width: 960px;
    margin: 0 auto;
}
.admin-login{
    background-color: #192459; 
    width: 100%;
    height: 100%;
    min-height: 100vh;
}
.login-page{
    padding: 100px 0;
}
.dashboard{
    background-color: #fff;
    opacity: .9;
    padding: 40px;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.dashboard-header{
    border-bottom: 2px solid #192459;
}
.dashboard-header h2{
    letter-spacing: 18px;
    font-size: 40px;
    font-weight: 700;
}
.dashboard-header p{
    font-weight: 500;
    letter-spacing: 10px;
}
.login-panel{
    background-color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 40px;
    text-align: center;
    height: 100%;
}
.icon-panel{
    margin: 20px 0;
    width: 50%;
}
.icon-panel i{
    font-size: 80px;
    color: #192459;
}
.left-section{
    padding: 40px;
    flex-wrap: wrap;
}
.user-admin{
    padding-top: 56px;
}
.right-section{
    padding: 60px 0;
}
.right-section input{
    width: 100%;
    border-radius: 4px;
    outline: none;
    border: 1px solid #192459;
    margin: 10px 0;
    padding: 10px;
}
.login-btn button{
    background-color: #192459;
    border: 1px solid #192459;
    color: #fff;
    padding: 8px 20px;
    border-radius: 4px;
    margin-top: 16px;
}
/* admin panel home page */
/* admin panel */
.page-container{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
}
.sidebar-menu{
    width: 20%;
    background-color: #192459;
}
.main-content{
    width: 80%;
    background-color: #f8f6f3;
    padding: 40px;
}
.main-content input, .main-content textarea, .main-content select{
    width: 70%;
    border: 1px solid #192459;
    outline: none;
    border-radius: 4px;
    height: 34px;
    display: inline !important;
}
.main-content textarea{
    height: 200px;
    overflow-y: scroll;
    resize: none;
}
.main-content label{
    color: #192459;
    margin-top: 10px;
    display: block;
}
.main-content button{
    border: none;
    outline: none;
    border-radius: 6px;
    height: 36px;
    background-color: #192459;
    color: #fff;
    padding: 0 16px;
    transition: .5s ease;
    margin-top: 20px;
}
.main-content button:hover{
    background-color: #050c2c;
}
.sign-out button{
    border: none;
    outline: none;
    border-radius: 6px;
    height: 36px;
    background-color: #fff;
    color: #050c2c;
    padding: 0 16px;
    transition: .5s ease;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 16px;
    font-weight: 600;
}
.sign-out button:hover{
    background-color: #050c2c;
    color: #fff;
    cursor: pointer;
}
.main-content h2, .main-content h3, .main-content h4, .main-content h5{
    margin-top: 20px;
    color: #192459;
}
.sidebar-header{
    width: 100%;
    overflow: hidden;
}
.sidebar-header img{
    width: 100%;
    object-fit: cover;
    height: 100px;
}
.menu-list{
    list-style: none;
}
.main-menu{
    padding: 20px;
    margin-top: 20px;
}
.main-menu a{
    text-decoration: none;
    color: #fff;
}
.main-menu a i{
    margin-right: 10px;
}
.main-menu li {
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    transition: 0.5s ease;
}
.main-menu li:hover{
    background-color: #222430;
}
.arrow-icon{
    display: inline;
    text-align: right;
}
.arrow-icon i:last-child{
    display: none;
}
.form-view label, .form-view input{
    display: block;
}
.list-style{
    background-color: #192459;
    display: inline;
    padding: 4px 10px 6px;
    color: #fff;
    border: none;
    border-radius: 6px;
    text-align: center;
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 10px;
}
.delete-btn{
    color: #ff0000;
    margin-left: 20px;
}
.banner-image-list{
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;
    width: 70%;
    margin-top: 10px;
}
.btn-position{
    display: inline-block;
}
.admin-table{
    margin: 20px 0;
}
.push-inner tr{
    display: block;
}
.added-pages-inner, .added-pages-inner input, .added-pages-inner textarea{
    width: 100%;
}
.collapse-btn{
    margin-top: 16px;
}
.collapse-btn a{
    background-color: #192459;
}
.collapse-btn a:hover{
    background-color: #050c2c;
}
.menu-responsive{
    padding: 20px 15px;
}
.menu{
    color: #fff;
    font-size: 24px;
    border-radius:4px;
    outline: none !important;
    border: 0;
}
.mega-menu p{
    font-size:18px;
}
.side-menu{
    background:rgba(0, 0, 0, 0.30);
    position: fixed;
    left:0;
    top:0;
    height:100%;
    width:100%;
    z-index:3;
}
.side-menu{
    opacity:0;
    visibility:hidden;
    pointer-events:none;
    transition:all .4s ease;
}
.side-menu.show{
    opacity:1;
    visibility:visible;
    pointer-events:all;
}
.mega-menu{
    height:100vh;
    background:#192459;
    width:336px;   
    box-shadow: -3px 3px 43px -11px rgba(166,166,166,0.75);
    padding:32px;
    transition:all .6s ease;
    transform: translate(-100%);
}
.transform00{
    transform: translate(0) !important;
}
.mega-menu-list .show-submenu{
    all:unset;
    width:24px;
    height:24px;
    border-radius:2px;
    font-size:14px;
    display:flex;
    justify-content:center;
    align-items: center;
    color:#586268;
    cursor: pointer;
}
.mega-menu-list li a,.sub-menu span a{
    display:inline-block;
    padding-top:10px;
    padding-bottom:10px;
    font-size:16px;
    color: #fff;
}
.mega-menu-list li:hover a, .sub-menu span a:hover{
    text-decoration:none;
    color:#f27a1a;
}
.sub-menu span{
    display: block;
}
.sub-menu{
    padding-left:12px;
    display:none;
}
.sub-menu span a::before{
    content:'';
    display:inline-block;
    width:8px;
    height:8px;
    border-radius:50%;
    border:1px solid #ACB3B8;
    margin-right:12px;
    position: relative;
    top:-1px;
}
.show-submenu i{
    transition:all .4s ease;
}
.has-submenu.active .show-submenu i{
    transform:rotate(90deg);
}
.general-list li a{
    margin-top:8px;
    margin-bottom:8px;
    display:inline-block;
    color:#f27a1a;
    font-size:20px;
}
.general-list li a span.test{
    color:green;
}
.general-list li.pink{
    color:pink;
    background:yellow;
}
.logo-img-menu{
    width: 200px;
    height: 100px;
}
.logo-img-menu img{
    width: 100%;
    height: 100%;
}